body{
    background-color:#eedbd4;
}

nav {
    text-align: right;
}

ul{
    font-family:lacquer;
    font-size: 25px;
    list-style:none;
}

footer {
    text-align: center;
}

h1{
    color:#c44d6b;
    font-family:'Permanent Marker', cursive;
    font-size: 90px;
    text-align: center;
}

h2{
    color:#e17977;
    font-family:'Londrina Shadow', cursive;
    font-size: 60px;
}

h3{
    color:#d69090;
    font-family:'Permanent Marker', cursive;
    font-size: 40px;
}

p{
    color: rgb(131, 63, 55);
    font-family:'Quicksand', sans-serif;
    font-size: 20px;
}

span{
    font-family:'Permanent Marker', cursive;

}


a:link {
    color: rgb(197, 117, 117);
}
a:visited {
    color: rgb(153, 150, 153);
}
a:hover {
    color: rgb(250, 141, 39);
}
a:active {
    color: yellowgreen;
}


#hanyan {
    border-radius: 50%;
    border-style: solid;
    border-color: seashell;
    border-width: 8px;
    margin-left: 650px;
}

#navigator {
    margin-top: -150px;
}

#presentation {
    margin-bottom: -200px;
    margin-top: 100px;
    margin-left: 150px;
    font-size: 30px;
}

#presbenny {
    float: right;
    margin-top: -200px;
    margin-left: 900px;
}

#benny {
    margin-right: auto;
    margin-top: 50px;
    border: 3px solid white;
    width: 970px;
    background-color: white;
}

#top {
    float: right;
}

.line{
    width: 1200px;
    height: 1px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#maquette{
    width: 910px;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 3%;
    padding-right: 3px;
    padding-bottom: 70px;
    float: right;
    margin-top: -200px;
}

#presmvp{
    margin-top:100px;
}

#prespersona{
    float: right;
    margin-top: -200px;
}

#persona{
    margin-top: 550px;
    padding-left: 50px;
}